.skills {
    width: 97vw;

    @media (min-width: 360px) {
        width: auto;
    };

    @media (min-width: 600px) {
        width: 94vw;
    };

    @media (min-width: 900px) {
        max-width: 1200px;
    };

    padding-bottom: 60px;
}

.title {
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    text-transform: uppercase;

    @media (min-width: 600px) {
        padding-bottom: 20px;
    };

    @media (min-width: 900px) {
        text-align: center;
        padding-bottom: 20px;
    };
}

.subtitle {
    padding-bottom: 10px;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: right;
}

.skills-list {
    align-items: center;
    justify-content: space-between;
    display: grid;
    row-gap: 12px;
    grid-template-columns: repeat(2, auto);

    span, h2 {
        @media (min-width: 600px) {
            display: none;
        }
    }

    @media (min-width: 360px) {
        padding-left: 10px;
        justify-content: center;
        column-gap: 80px;
    };

    @media (min-width: 600px) {
        column-gap: 0;
        justify-content: space-between;
        padding-left: 0;
        grid-template-columns: repeat(4, auto);
        row-gap: 20px;
    };

    @media (min-width: 900px) {
        grid-template-columns: repeat(6, auto);
        row-gap: 25px;
    };

}

.skill {
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.025em;
    color: #FFF;
    text-align: left;
}