/* stylelint-disable color-function-notation */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;

    @media (min-width: 500px) {
        width: 80vw;
    };
    
    @media (min-width: 600px) {
        width: 92vw;
    };

    @media (min-width: 900px) {
        max-width: 1200px;
    };

    padding-bottom: 60px;
}

.title {
    align-self: flex-start;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    text-transform: uppercase;
    text-align: left;

    @media (min-width: 600px) {
        padding-bottom: 20px;
    };

    @media (min-width: 900px) {
        text-align: center;
        padding-bottom: 20px;
    };
}

.subtitle-eng {
    align-self: flex-end;
    padding: 0 10px;
    padding-bottom: 10px;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.subtitle-rus {
    align-self: flex-end;
    padding: 0 10px;
    padding-bottom: 10px;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.skills-list {
    display: flex;
    flex-flow: wrap;
    row-gap: 15px;
    justify-content: space-around;

    @media (min-width: 600px) {
        justify-content: space-between;
    };

}

.cell {
    display: flex;
    width: calc(90vw);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 50px;

    @media (min-width: 500px) {
        width: 80vw;
    };

    @media (min-width: 600px) {
        width: 46vw;
        max-width: 380px;
    };

    @media (min-width: 900px) {
        max-width: 320px;
    };
}

.cell-orange {
    display: flex;
    width: calc(90vw);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 50px;

    @media (min-width: 500px) {
        width: 80vw;
    };

    @media (min-width: 600px) {
        width: 46vw;
        max-width: 380px;
    };

    @media (min-width: 900px) {
        max-width: 320px;
    };
}

.cell-white {
    display: flex;
    width: calc(90vw);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #FFF;
    animation: white-shine 2.75s infinite;

    h3 {
        color: black;
    }

    @media (min-width: 500px) {
        width: 80vw;
    };

    @media (min-width: 600px) {
        width: 46vw;
        max-width: 380px;
    };

    @media (min-width: 900px) {
        max-width: 320px;
    };
}

@keyframes white-shine {
        0%, 100% {
            background-color: #FFF;
        }

        50% {
            background-color: #FFDD43;
        }
}

.skill {
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.025em;
    color: #FFF;
    text-align: left;
}
