.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about-section-eng {
    z-index: 10;
    width: 90vw;
    padding-bottom: 300px;

    @media (min-width: 500px) {
        padding-bottom: 200px;
    };

    @media (min-width: 600px) {
        padding-bottom: 0;
        margin-bottom: calc(700px - 60vw);
    };

    @media (min-width: 900px) {
        padding-bottom: 0;
        margin-bottom: 80px;
    };
}



.about-section-rus {
    z-index: 10;
    width: 90vw;
    padding-bottom: 330px;

    @media (min-width: 500px) {
        padding-bottom: 250px;
    };

    @media (min-width: 600px) {
        padding-bottom: 0;
        margin-bottom: calc(700px - 60vw);
    };

    @media (min-width: 900px) {
        padding-bottom: 0;
        margin-bottom: 80px;
    };
}

.about-title {
    margin-bottom: 60px;
    text-align: right;
    font-weight: 800;
    font-size: 14vw;
    line-height: 14vw;
    font-family: var(--font-prime);
    font-style: normal;
    text-transform: uppercase;

    @media (min-width: 600px) {
        margin-bottom: 80px;
        font-size: 8.5vw;
        line-height: 8.5vw;
    };

    @media (min-width: 900px) {
        padding-right: 15px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 70px;
        line-height: 74px;
    };
}

.edu-title {
    margin-bottom: -10px;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 10vw;
    line-height: 10vw;

    @media (min-width: 600px) {
        font-size: 5vw;
        line-height: 5vw;
    };

    @media (min-width: 900px) {
        padding-bottom: 60px;
        font-size: 50px;
        line-height: 54px;
        text-align: center;
    };
}

.edu-subtitle {
    padding-bottom: 40px;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: right;
    font-size: 3vw;
    line-height: 3vw;
    color: rgba(255 255 255 54%);
}

.edu-section {
    padding-bottom: 30vw;
    display: flex;
    flex-direction: column;
    gap: 6px;
    @media (min-width: 400px) {
        padding-bottom: 6vw;
    };

    @media (min-width: 900px) {
        padding-bottom: 50px;
        align-items: center;
    };
}

.edu-list {
    display: grid;
    row-gap: 40px;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);

    @media (min-width: 900px) {
        grid-template-columns: repeat(1, auto);
        row-gap: 10px;
        max-width: 70vw;
    };
}

.edu-place {
    font-weight: 800;
    font-size: 3.5vw;
    line-height: 3.5vw;
    font-style: normal;
    font-family: var(--font-prime);
    letter-spacing: 0.025em;

    @media (min-width: 900px) {
        text-align: center;
        font-size: 42px;
        line-height: 46px;
    };
}

.edu-time {
    text-align: right;
    font-family: var(--font-prime);
    font-weight: 800;
    font-size: 3.5vw;
    line-height: 3.5vw;
    color: rgba(255 255 255 / 50%);
    letter-spacing: 0.025em;

    @media (min-width: 900px) {
        text-align: center;
        font-size: 32px;
        line-height: 36px;
    };
}

.soft-title {
    text-align: right;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 10vw;
    line-height: 10vw;

    @media (min-width: 600px) {
        font-size: 5vw;
        line-height: 5vw;
    };

    @media (min-width: 900px) {
        padding-bottom: 20px;
        text-align: center;
        font-size: 50px;
        line-height: 54px;
    };
}

.soft-subtitle {
    padding-bottom: 40px;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 3vw;
    line-height: 3vw;
}

.soft-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    row-gap: 30px;

    @media (min-width: 600px) {
        column-gap: 20vw;
        row-gap: 15px;
    }

    @media (min-width: 900px) {
        justify-items: center;
        justify-content: center;
        column-gap: 6vw;
        row-gap: 10px;
        grid-template:
        "skill1 skill2 skill3"
        "svg svg svg";
    }
}

.skill-one {
    @media (min-width: 900px) {
        grid-area: skill1;
    }
}

.skill-two {
    @media (min-width: 900px) {
        grid-area: skill2;
    }
}

.skill-three {
    @media (min-width: 900px) {
        grid-area: skill3;
    }
}

.svg {
    @media (min-width: 900px) {
        grid-area: svg;
        width: 100%;
    }
}

.softskill {
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 800;
    font-size: 7vw;
    line-height: 7vw;
    letter-spacing: 0.025em;
    color: #FFF;

    @media (min-width: 600px) {
        font-size: 5vw;
        line-height: 5vw;
    }

    @media (min-width: 900px) {
        font-size: 40px;
        line-height: 44px;

        ::before {
            display: none;
        }

        ::after {
            content: 'Tolerance';
        }
    }
}

.en {
    ::before {
        content: 'Stress Tolerance';
    }
    @media (min-width: 900px) {
        ::after {
            content: 'Tolerance';
        }
    }
}

.ru {
    ::before {
        content: 'Стрессоустойчивость';
    }
    @media (min-width: 900px) {
        ::after {
            content: 'Спокойствие';
        }
    }
}

.softskill-subtitle {
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: 0.025em;
    color: rgba(255 255 255 8%);
    text-align: right;
}

.softskill-num {
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    line-height: 4vw;
    letter-spacing: 0.025em;
    color: #FFF;
    text-align: right;
}