.bg {
    position: absolute;
    top: -230px;

    @media (min-width: 600px) {
        top: -190px
    };

    @media (min-width: 900px) {
        top: -240px;
    };
}

.mobile-tablet {
    @media (min-width: 390px) {
        width: 100vw;
    };
}

.pc {
}