.navigation {
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;

    @media (min-width: 600px) {
        margin-top: 90px;
        margin-bottom: 160px;
    }

    a {
        padding: 40px 2vw;
        font-family: var(--font-prime);
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;

        @media (min-width: 600px) {
            padding: 40px 4vw;
            font-size: 24px;
            line-height: 28px;
        }
    }
}