.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    color: white;
}

.social-section {
    z-index: 10;
}

.title {
    text-align: center;
    font-family: var(--font-prime);
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 10px;

    @media (min-width: 600px) {
        padding-bottom: 40px;
    }
}

.soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 310px;
    flex-wrap: wrap;
    gap: 14px;
    padding-bottom: 10px;

    @media (min-width: 600px) {
        max-width: 560px;
        padding-bottom: 40px;
    }
}

.end-title {
    font-family: var(--font-second);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FF8C1A;
    padding-bottom: 10px;

    @media (min-width: 600px) {
        padding-bottom: 15px;
    }
}