.bg {
    margin-top: -320px;
    z-index: 1;
    display: flex;
    justify-content: center;
    transform: scaleX(2);

    @media (min-width: 481px) {
        margin-top: -280px;
        transform: scaleX(2);
    }
}
