/* stylelint-disable selector-class-pattern */

.📱 {
    @media (min-width: 481px) {
        display: none;
      }
}

.💻 {
    @media (max-width: 480px) or (min-width: 801px) {
        display: none;
      }
}

.📱💻 {
    @media (min-width: 900px) {
        display: none;
    };
}

.🖥️ {
    @media (max-width: 899px) {
        display: none;
    }
}