/* Add custom fonts */

/* FuturaBookCCT */

@font-face {
    font-family: futurabookctt;
    src: local('Futura Book'), local('Futura-Book')
    url('./fonts/futuraBook/futurabookctt.ttf'),
    url('./fonts/futuraBook/futurabookctt.otf');
    font-weight: 400;
    font-style: normal;
}

/* Mulish */

/* @font-face {
    font-family: Mulish;
    src: local('Mulish Thin'), local('Mulish-Thin'),
        url('./fonts/Mulish/gilroyThin.ttf');
    font-weight: 100;
    font-style: normal;
} */

@font-face {
    font-family: Mulish;
    src: local('Mulish Extra Light'), local('Mulish-Extra-Light'),
        url('./fonts/mulish/mulishExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: local('Mulish Light'), local('Mulish-Light'),
        url('./fonts/mulish/mulishLight.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: local('Mulish Regular'), local('Mulish-Regular'),
        url('./fonts/mulish/mulishRegular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: local('Mulish Medium'), local('Mulish-Medium'),
        url('./fonts/mulish/mulishMedium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: local('Mulish Semibold'), local('Mulish-Semibold'),
        url('./fonts/mulish/mulishSemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: local('Mulish Bold'), local('Mulish-Bold'),
        url('./fonts/mulish/mulishBold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: local('Mulish Extrabold'), local('Mulish-Extrabold'),
        url('./fonts/mulish/mulishExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: local('Mulish Black'), local('Mulish-Black'),
        url('./fonts/mulish/mulishBlack.ttf');
    font-weight: 900;
    font-style: normal;
}

/* Gilroy */
@font-face {
    font-family: Gilroy;
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('./fonts/gilroy/gilroyThin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Ultra Light'), local('Gilroy-Ultra-Light'),
        url('./fonts/gilroy/gilroyUltraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('./fonts/gilroy/gilroyLight.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('./fonts/gilroy/gilroyRegular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('./fonts/gilroy/gilroyMedium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('./fonts/gilroy/gilroySemibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('./fonts/gilroy/gilroyBold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('./fonts/gilroy/gilroyExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('./fonts/gilroy/gilroyBlack.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('./fonts/gilroy/gilroyHeavy.ttf');
    font-weight: 900;
    font-style: normal;
}